{% load static %}

<footer class="footer">
    <div class="footer-content">
        <p class="footer-title">Книжный интернет-магазин «ЛитРай»</p>
        <div class="icons">
            <a href=""><img src="{% static 'imgs/footer/vk.svg' %}" alt="vk" class="icon"></a>
            <a href=""><img src="{% static 'imgs/footer/tg.svg' %}" alt="tg" class="icon"></a>
            <a href=""><img src="{% static 'imgs/footer/ok.svg' %}" alt="ok" class="icon"></a>
            <a href=""><img src="{% static 'imgs/footer/youtube.svg' %}" alt="youtube" class="icon"></a>
        </div>
    </div>
</footer>